.background-left-band(@color) {
  background-color: white;
  border-left: 15px solid @color;
  border-right: 15px solid @gray-lighter;
}

.framework-menu {
  background-color: @gray-lighter;
  padding: @frameworksTablePadding * 2;

  .framework {
    img {
      width: 40px;
      height: 40px;
      margin: 8px;
    }
  }

  .html5-frameworks  {
    h2 {
      color: @html5FrameworksColor
    }
  }

  .compile-to-native-frameworks  {
    h2 {
      color: @compileToNativeFrameworksColor
    }
  }

  .native-frameworks {
    h2 {
      color: @nativeFrameworksColor
    }
    margin-top: @frameworksTablePadding;
  }

  @media (max-width: @screen-xs-max) {
    .framework {
      margin-top: 8px;
    }

    // render the background left-hand bar on each individual framework
    .html5-frameworks {
      .framework {
        .background-left-band(@html5FrameworksColor);
      }
    }
    .native-frameworks {
      .framework {
        .background-left-band(@nativeFrameworksColor);
      }
    }
    .compile-to-native-frameworks {
      .framework {
        .background-left-band(@compileToNativeFrameworksColor);
      }
    }
  }

  @media (min-width: @screen-xs-max) {
    // ensure the left and right columns have the same height
    // see: http://getbootstrap.com.vn/examples/equal-height-columns/
    .row:nth-child(1) {
      display: flex;
    }

    // arrange frameworks into two columns
    .framework {
      width: 50%;
      float: left;
    }

    // for native, create a three column layout
    .native-frameworks {
      > * {
        width: 40%;
        float: left;
      }
      h2 {
        width: 20%;
      }
    }

    // render the background on each section
    .html5-frameworks {
      .background-left-band(@html5FrameworksColor);
    }
    .native-frameworks {
      .background-left-band(@nativeFrameworksColor);
    }
    .compile-to-native-frameworks {
      .background-left-band(@compileToNativeFrameworksColor);
    }
  }
}
