.get-involved { 
  // Equal height columns
  display: flex;
  background-color: @gray-lighter;
  padding: @grid-gutter-width;
  
  a {
    font-size: 12px;
    font-weight: @font-weight-light;
  }
  
  h3 {
    color: @link-color;
    margin-top: 10px;
    .italic-font;
  }
  
  .col-sm-4 {
    background-color: white;
  }
  
  .middle {
    margin: 0 @grid-gutter-width / 2;
  }
}

@media (max-width: @screen-xs-max) {
  .get-involved {
    // No longer displaying columns
    display: block;
    padding: 0;
      
    .col-xs-12 {
      margin: @grid-gutter-width / 2 0 0 0;
      .background-bands(@gray-lighter, @gray-lighter);
    }
  }
}
