.get-involved {  
  background-color: @gray-lighter;
  padding: @grid-gutter-width @grid-gutter-width * 1.5;
  
  h4 {
    color: @link-color
  }
  
  .col-sm-4 {
    background-color: white;
  }
  
  // Equal height columns
  .row {
    display: flex;
  }
  
  .middle {
    margin: 0 @grid-gutter-width / 2;
  }
  
  @media (max-width: @screen-xs-max) {
    padding: 0 @grid-gutter-width / 2 @grid-gutter-width / 2 @grid-gutter-width / 2;
    
    // No longer displaying columns
    .row {
      display: block;
    }
    
    .row > div {
      margin: @grid-gutter-width / 2 0 0 0;
      .background-bands(@gray-lighter, @gray-lighter);
    }
  }
}
