.background-bands(@left-band-color, @right-band-color) {
  background-color: white;
  border-left: 15px solid @left-band-color;
  border-right: 15px solid @right-band-color;
}

.italic-font {
  font-family: 'Baskerville-urw', serif;  
  font-style: italic;
  font-weight: @font-weight-light;
}

.separator(@color) {  
  border-top: 20px solid @color;
}

.position-header(@logo-width, @logo-bottom-margin, @message-left-margin, @btn-top-margin) {
  .logo {
    width: @logo-width;
  }
  
  .header-main {
    margin-bottom: @logo-bottom-margin;
  }
  
  .header-message {
    h3 {
      margin-left: @message-left-margin;
    }
  }
  
  .btn {
    margin-top: @btn-top-margin;
  }
}