@frameworksTablePadding: @grid-gutter-width / 2;

@nativeFrameworksColor: rgba(141,30,119,1);
@html5FrameworksColor: rgba(17,120,176,1);
@compileToNativeFrameworksColor: rgba(206,192,65,1);
@profileBackground: rgba(222,222,223,1);
@logo-lg-size: 450px;
@logo-md-size: 400px;
@logo-sm-size: 280px;
@logo-xs-size: 250px;

