@frameworksTablePadding: @grid-gutter-width / 2;

@nativeFrameworksColor: rgba(141,30,119,1);
@nativeFrameworksBackground: linear-gradient(to right, @nativeFrameworksColor @frameworksTablePadding, white @frameworksTablePadding + 1);

@html5FrameworksColor: rgba(17,120,176,1);
@html5FrameworksBackground: linear-gradient(to right, @html5FrameworksColor @frameworksTablePadding, white @frameworksTablePadding + 1);

@compileToNativeFrameworksColor: rgba(206,192,65,1);
@compileToNativeFrameworksBackground: linear-gradient(to right, @compileToNativeFrameworksColor @frameworksTablePadding, white @frameworksTablePadding + 1);

@rightGutterLightGrayBackground: linear-gradient(to left, @gray-lighter @frameworksTablePadding, white @frameworksTablePadding + 1);
@leftGutterLightGrayBackground: linear-gradient(to right, @gray-lighter @frameworksTablePadding, white @frameworksTablePadding + 1);
