{{#if hasDownloads }}
  <a href="{{ lookup downloads platform }}" class="btn btn-primary download-btn pull-right {{ hide }} hidden-xs">
    Download {{ lookup site.extensions platform }} format
  </a>
{{/if}}