<div class="item {{ active }}">
  {{> screenshot screenshotName = "PropertyCross"}}
  {{> screenshot screenshotName = "SearchResults"}}
  {{> screenshot screenshotName = "Property"}}
  {{> screenshot screenshotName = "Favourites"}}
</div>
