<section class="screenshots" >
  <div class="screenshots-header">
    <div class="container">
      <div class="col-xs-12 hidden-xs">
        <h1>Screenshots</h1>
        <ol class="gallery-indicators">
          <li class="android active"></li>
          <li class="ios"></li>
        </ol>
        {{>download_btn platform = "android" hasDownloads = downloads.android}}
        {{>download_btn platform = "ios" hasDownloads = downloads.ios hide = "hide" }}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 gallery-indicators-mobile">
        <div class="android active">
          <img src="{{ site.baseurl }}//assets/android.png"/>
        </div>
        <div class="ios">
          <img src="{{ site.baseurl }}//assets/ios.png"/>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="left hidden-xs">
          <img src="{{ site.baseurl }}//assets/left.png"/>
        </div>
        <div class="screenshot-container">
          {{#if platforms.android }}
            {{>screenshots_row platform = "android" active = "active" }}
          {{/if}}
          {{#if platforms.ios }}
            {{>screenshots_row platform = "ios" }}
          {{/if}}
        </div>
        <div class="right hidden-xs">
          <img src="{{ site.baseurl }}//assets/right.png"/>
        </div>
      </div>
    </div>
  </div>
</section>