<section class="about hidden">
  <div class="container">
    <h1 class="hidden-xs">About</h1>
    <h2 class="header-mobile">//PropertyCross is an open-source project that helps developers select a cross-platform mobile framework.</h2>
    {{> introduction }}
  </div>
</section>