<div class="mobile-buttons hidden-lg hidden-md hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a href="{{ site.blogurl }}" class="btn btn-primary">
          <img src="{{ site.baseurl }}/assets/blog.png">Blog
        </a>
      </div>
      <div class="col-xs-6">
        <a href="{{ site.githuburl }}/" class="btn btn-primary">
          <img src="{{ site.baseurl }}/assets/git.png">View on GitHub
        </a>
      </div>
    </div>  
  </div>
</div>
