<footer class="row">
  <h5 class="footer-intro">
    <i>Brought to you by Colin Eberhardt and Chris Price, with thanks to Nestoria for their <a href="http://www.nestoria.co.uk/help/api">property search API</a>.</i>
  </h5>
  <div class="profile">
    <div class="profile-image">
      <img src="http://www.gravatar.com/avatar/458f2e0d08d4114f8b323798cfea141d"/>
    </div>
    <div class="profile-info">
      <a href="https://github.com/ColinEberhardt">Colin Eberhardt</a><br>
        Scott Logic<br>
        Newcastle UK<br>
        ceberhardt@scottlogic.co.uk
    </div>
  </div>
  <div class="profile">
    <div class="profile-image">
      <img src="http://www.gravatar.com/avatar/b6fe36176ec7c9475374a5cd3b7bef1a"/>
    </div>
    <div class="profile-info">
      <a href="https://github.com/chrisprice/">Chris Price</a><br>
      Scott Logic<br>
      Newcastle UK<br>
      price.c@gmail.com
    </div>
  </div>
</footer>
