<section class="row get-involved">
  <div class="col-xs-12 col-sm-4">
    {{> description-left-column }}
  </div>
  <div class="col-xs-12 col-sm-4 middle">
    {{> description-middle-column }}
  </div>
  <div class="col-xs-12 col-sm-4">
    {{> description-right-column }}
  </div>
</section>
