.framework-info {
  .separator(@body-color);
  margin-top: @grid-gutter-width;
  margin-bottom: @grid-gutter-width / 2;
  font-weight: @font-weight-light;
  
  img {
    height: 40px;
    vertical-align: baseline;
  }
  
  h1, h3 {
    width: 50%;
    display: inline-block;
  }
  
  h3 {
    .italic-font;
    padding: 0 @grid-gutter-width / 2;
  }
}
