.framework-info-wrapper {
  display: flex;
  flex-direction: column;
  
  .framework-info {
    order: 1;
  }
  
  .screenshots {
    order: 2;
  }

  @media(max-width: @screen-xs-max) {
    .framework-info {
      order: 2;
      margin-top: 0;
    }
  
    .screenshots {
      order: 1;
      margin-top: @grid-gutter-width;
    }
  }
}