.framework-info {
  .separator(@body-color);
  margin-top: @grid-gutter-width;
  margin-bottom: @grid-gutter-width / 2;
  font-weight: @font-weight-light;
  
  h3 {
    margin-top: 0;
    .italic-font;
  }
}
