body {
  color: @body-color;
}

h1 {
  font-size: 50px;
  font-weight: @font-weight-light;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}
.wf-loading {
  h1,h2,h3,h4,a,p,.profile-info {
    visibility: hidden;
  }
}

h4 {
  font-size: 16px;
}

.btn {
  border-radius: 0;
  text-align: left;
  padding-left: 6px;
  font-size: 14px;
  font-weight: @font-weight-light;
  
  img {
    margin-right: 6px;
  }
}

a:hover {
  text-decoration: none;
}
  
.profile {
  .make-xs-column(12);
  .make-sm-column(6);
  .make-md-column(4);
  .make-lg-column(3);

  background-color: @profile-background;
  background-clip: content-box;
  margin-bottom: @grid-gutter-width / 2;
  // align with content above
  padding-left: 0;
  // ensure consistent height for contributors without github account/gravatar/image
  min-height: 80px;

  // Background clip to align with content above/below
  @media(max-width: @screen-xs-max){
    background-clip: padding-box;
  }
}

.profile-image, .profile-identicon, .profile-info, .profile-blank {
  float:left;
}

.profile-info{
  padding: 8px 0 0 @grid-gutter-width / 2;
  font-size: @font-size-h6;
  font-weight: @font-weight-light;
  
  a {
    font-weight: @font-weight-bold;
  }
}
