.framework-menu {
  background-color: @gray-lighter;

  .row {
    padding: @frameworksTablePadding * 2;
  }

  h2 {
    margin-top: 20px;
  }

  .framework {
    
    a {
      color: @body-color;
      font-size: 16px;
      font-weight: @font-weight-light;
      text-decoration: none;
      
      .icon-wrapper {
        display: inline-block;
        width: 65px;
        text-align: center;
      }
    }

    .language {
      font-size: 12px;
      color: fadeout(gray, 20%);
    }

    img {
      height: 40px;
      margin: 8px;
    }
  }

  .col-xs-12:nth-child(1) {
    padding: 0;
  }

  .html5-frameworks  {
    width: 50%;
    padding: 0 @frameworksTablePadding;
    h2 {
      color: @html5FrameworksColor;
    }
    
    a:hover {
      color: @html5FrameworksColor;
    }
  }

  .compile-to-native-frameworks  {
    width: 50%;
    padding: 0 @frameworksTablePadding;
    h2 {
      color: @compileToNativeFrameworksColor;
    }
    
    a:hover {
      color: @compileToNativeFrameworksColor;
    }
  }

  .native-frameworks {
    h2 {
      margin-top: 16px;
    }

    span {
      vertical-align: middle;
    }
    
    h2 {
      color: @nativeFrameworksColor;
    }
    
    a:hover {
      color: @nativeFrameworksColor;
    }

    margin-top: @frameworksTablePadding;
  }

  @media (max-width: @screen-xs-max) {
    
    .row {
      // the header text is wrapped on XS screens so we need some extra padding on the top
      padding: @grid-gutter-width @frameworksTablePadding @frameworksTablePadding @frameworksTablePadding;
    }

    .framework {
      margin-top: 8px;
      border-right: none;
      
      a {
        display: block;
        
        .icon-wrapper {
          width: 80px;
        }
      }
    }

    // render the background left-hand and right-hand bar on each individual framework
    .html5-frameworks {
      width: 100%;
      padding: 0;
      .framework {
        .left-background-band(@html5FrameworksColor);
      }
    }
    .native-frameworks {
      padding: 0;
      .framework {
        .left-background-band(@nativeFrameworksColor);
        
        img:first-child {
          margin-left: 18px;
        }
      }
    }
    .compile-to-native-frameworks {
      width: 100%;
      padding: @frameworksTablePadding 0 0 0;
      .framework {
        .left-background-band(@compileToNativeFrameworksColor);
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    // ensure the left and right columns have the same height
    // see: http://getbootstrap.com.vn/examples/equal-height-columns/
    .col-xs-12:nth-child(1) {
      display: flex;
    }

    // arrange frameworks into two columns
    .framework {
      width: 50%;
      float: left;
  
      .wide-icon {
        margin-left: 0;
        margin-right: 0;
      }
    }

    // for native, create a three column layout
    .native-frameworks {
      div {
        float: left;
        width: 88%;
      }
      h2 {
        float: left;
        width: 12%;
      }
    }

    // render the background on each section
    .html5-frameworks {
      .background-bands(@html5FrameworksColor, @gray-lighter);
    }
    .native-frameworks {
      .background-bands(@nativeFrameworksColor, white);
    }
    .compile-to-native-frameworks {
      .background-bands(@compileToNativeFrameworksColor, white);
    }
  }

  @media (max-width: @screen-sm-max) {
    .framework {
      width: 100%;
    }
  }

}
