.framework-menu {
  background-color: @gray-lighter;

  .row {
    padding: @frameworksTablePadding * 2;
  }

  h2 {
    margin-top: 20px;
  }

  .framework {
    
    a {
      color: @body-color;
      font-size: 16px;
      font-weight: @font-weight-light;
      text-decoration: none;
      
      .icon-wrapper {
        display: inline-block;
        width: @frameworkIconWidth;
        text-align: center;
      }
      
      .framework-overflow-md {
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
          margin-left: @frameworkIconWidth;
        }
      }
    }

    img {
      height: 40px;
      margin: 8px;
    }
  }
  .framework-tab-headers {
    .hidden-lg;
    .hidden-md;
    .hidden-sm;
    
    font-size: 16px;
    
    &:hover {
      cursor: pointer;
    }
    
    span[data-target="html5-frameworks"] {
      color: @html5FrameworksColor;
    }
    
    span[data-target="compile-to-native-frameworks"] {
      color: @compileToNativeFrameworksColor;
    }
    
    span[data-target="native-frameworks"] {
      color: @nativeFrameworksColor;
    }
  }

  .col-xs-12:nth-child(2) {
    padding: 0;
  }

  .html5-frameworks  {
    width: 50%;
    padding-left: @frameworksTablePadding;
    h2 {
      color: @html5FrameworksColor;
    }
    
    a:hover {
      color: @html5FrameworksColor;
    }
  }

  .compile-to-native-frameworks  {
    width: 50%;
    padding-left: @frameworksTablePadding;
    h2 {
      color: @compileToNativeFrameworksColor;
    }
    
    a:hover {
      color: @compileToNativeFrameworksColor;
    }
  }

  .native-frameworks {
    h2 {
      margin-top: 16px;
    }

    span {
      vertical-align: middle;
    }
    
    h2 {
      color: @nativeFrameworksColor;
    }
    
    a:hover {
      color: @nativeFrameworksColor;
    }

    margin-top: @frameworksTablePadding;
  }

  @media (max-width: @screen-xs-max) {
    
    .row {
      // the header text is wrapped on XS screens so we need some extra padding on the top
      padding: @grid-gutter-width @frameworksTablePadding @frameworksTablePadding @frameworksTablePadding;
    }

    .framework, .framework-tab-headers {
      margin-top: 8px;
      border-right: none;
      
      a {
        display: block;
        
        .icon-wrapper {
          width: 80px;
        }
      }
    }

    // render the background left-hand and right-hand bar on each individual framework
    .html5-frameworks {
      width: 100%;
      padding: 0;
      .framework {
        .left-background-band(@html5FrameworksColor);
      }
    }
    .native-frameworks {
      padding: 0;
      margin: 0;
      .framework {
        .left-background-band(@nativeFrameworksColor);
        
        img:first-child {
          margin-left: 18px;
        }
      }
    }
    .compile-to-native-frameworks {
      width: 100%;
      padding: 0;
      .framework {
        .left-background-band(@compileToNativeFrameworksColor);
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    // ensure the left and right columns have the same height
    // see: http://getbootstrap.com.vn/examples/equal-height-columns/
    .col-xs-12:nth-child(2) {
      display: flex;
    }

    // arrange frameworks into two columns
    .framework {
      width: 50%;
      float: left;
  
      .wide-icon {
        margin-left: 0;
        margin-right: 0;
        padding: 3px 0;
      }
    }

    // for native, create a three column layout
    .native-frameworks {
      div {
        float: left;
        width: 88%;
      }
      h2 {
        float: left;
        width: 12%;
      }
    }

    // render the background on each section
    // render the background on each section and make sure they are all shown on > XS screens
    .html5-frameworks {
      .background-bands(@html5FrameworksColor, @gray-lighter);
      display: block !important;
    }
    .native-frameworks {
      .background-bands(@nativeFrameworksColor, white);
      display: block !important;
    }
    .compile-to-native-frameworks {
      .background-bands(@compileToNativeFrameworksColor, white);
      display: block !important;
    }
    
    //Always show when not on mobile
    display: block !important;
  }

  @media (max-width: @screen-sm-max) {
    .framework {
      width: 100%;
    }
  }

}
