header {
  padding-top: @grid-gutter-width / 2;
  
  .position-header(@logo-lg-size, -22px, 110px, 22px);
  
  .header-main {
    z-index: 1;
    padding: 0 @grid-gutter-width;
  } 

  .header-message {
    background-color: @gray-lighter;
    height: 60px;
    
    h3 {
      display: block;
      // Align the text with the logo above
      margin-top: 35px;
      .italic-font;
    }
  }
  
  .btn {
    width: 140px;
    margin-left: 10px;
  }
}

// Positioning corrections for MD screens
@media(max-width: @screen-md-max) {
  header {
    .position-header(@logo-md-size, -19px, 100px, 16px);
  }
}

// Positioning corrections for SM screens
@media(max-width: @screen-sm-max) {
  header {
    .position-header(@logo-sm-size, -14px, 75px, 3px);
    
    //need the extra space from the padding
    .header-main {
      padding-right: 0;
    }
    
    .btn {
      width: 120px;
      font-size: @font-size-h6;
    }    
  }
}

// Positioning corrections for XS screens
@media(max-width: @screen-xs-max) {
  header {
    .position-header(@logo-xs-size, -12px, 0, 0);
    
    h2 {
      // 20px is too large for XS screens
      font-size: 16px;
      padding: 0 @grid-gutter-width / 2;
    }
  
    .header-main, .header-message {
      padding: 0;
      text-align: center;
    }
  }
}