.get-involved {
  background-color: @gray-lighter;
  
  .row {
    // Equal height columns
    display: flex;
    padding: @grid-gutter-width;
    font-weight: @font-weight-light;
  }

  h3 {
    color: @link-color;
    margin: 15px 0;
    .italic-font;
  }

  .col-sm-4 {
    background-color: white;
  }

  .middle {
    margin: 0 @grid-gutter-width / 2;
  }
  
  @media(min-width: @screen-sm-min) {
    //Always show when not on mobile
    display: flex !important;
  }
}

@media (max-width: @screen-xs-max) {
  .get-involved .row {
    // No longer displaying columns
    display: block;
    padding: 0 0 @grid-gutter-width / 2 0;

    .col-xs-12 {
      margin: @grid-gutter-width / 2 0 0 0;
      .background-bands(@gray-lighter, @gray-lighter);
    }
  }
}
