<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>PropertyCross{{#if title }} | {{title }}{{/if}}</title>
  <meta name="description" content="Helping you select a cross-platform mobile framework - Apps using jQuery Mobile, Sencha Touch, Titanium and more">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css" type="text/css">
  <script type="text/javascript" href="{{ site.baseurl }}/ga.js"></script>
  <script>
    (function(d) {
      var config = {
        kitId: 'gty8sdv',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
</head>
<body>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
