---
layout: default
---

{{>header }}

<main>
  <div class="framework-info-wrapper">
    {{>framework_info }}

    {{>screenshots }}
  </div>

  {{#if contributors }}
    {{>contributors }}
  {{/if}}
</main>

{{>frameworks_table hidden = "hidden-xs" }}

<script type="text/javascript">
    !function() {
        var buttons = document.getElementsByClassName('github-issue-count-button');
        for (var i = 0, button = buttons[i]; i < buttons.length; button = buttons[++i]) {
            var url = button.href
                    .replace(/https:\/\/github\.com/, 'https://api.github.com/repos')
                    .replace(/per_page=[0-9]+/g, '');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onload = function(e) {
                var count = JSON.parse(e.target.responseText).length;
                this.classList.add('issue-count-' + count);
                
                // 0 or undefined
                var label = "No known issues";
                
                if(count === 1) {
                  label = "1 Known issue";
                } else if(count > 1 && count <= 30) {
                  label = count + " Known issues";
                } else if(count > 30) {
                  label = "30+ Known issues";
                }
                
                this.innerHTML = label;
            }.bind(button);
            xhr.send();
        }
    }();
</script>